<!DOCTYPE html>
<html lang="en">
<head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property=”og:title” content=”<%-data.title%>” />
    <meta property=”og:type” content=”blog” />
    <meta property=”og:image” content=”/tropical-white.png” />
    <meta property=”og:url” content=”<%-data.url%>” />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link href="/styles.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!-- Highlight.js syntax highlighting -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
    <link rel="stylesheet" href="/atom-light.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <!--[if IE]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->


    <title>NomadCoder</title>
</head>
<body>
    <div class="container">
        <%- include('./snippets/header'); %>
            <!-- POST SECTION -->
            <section class="post">
                <article>
                    <% const post = data %>
                    <div class="date"><%= post.post_date_short %></div>
                    <h1 class="title"><%= post.title %></h1>
                    <div class="description"><%- post.description %>
                    </div>



                    <!-- COMMENT SECTION-->
                    <div id="disqus_thread">
                        <script>
                            let disqus_config = function () {
                            this.page.url =  post.url;
                            this.page.identifier = post._id;
                            };

                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://lifecodemodafinil.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                    </div>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </article>
            </section>

        <script id="dsq-count-scr" src="//lifecodemodafinil.disqus.com/count.js" async></script>

    <!-- FOOTER AREA -->
    <%- include('./snippets/footer') %>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>